{{- if eq .Values.are.enabled true }}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: are-gateway-allow-from-ingress
spec:
  selector:
    matchLabels:
      app: are-gateway
  action: ALLOW
  rules:
    - from:
        - source:
            principals:
              - "cluster.local/ns/istio-system/sa/istio-ingressgateway"
      to:
        - operation:
            methods: ["POST"]
            paths: ["/gateway/are"]

        # TODO: Enable and adapt when auth requirements are final
        # when:
        #   - key: request.auth.claims[realm_access][roles]
        #     values: ["disease-notification-sender"]
{{- end }}